@import "../../../colors.scss";

.section-header {
    padding: 10px 16px;
    background-color: $header-bg;
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    width: 100%;
    height: 59px;
    grid-template-columns: 1fr 1fr;

    .profile-picture {
        display: grid;
        grid-template-columns: 50px calc(100% - 50px);
        align-items: center;
        justify-content: left;

        .avatar {
            background-color: $avatar-bg;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            cursor: pointer;
        }

        .header-text {
            font-size: 1.2em;
        }
        
    }

    .actions {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: end;
        color: $actions-color;
    }
}