@import "../../colors.scss";

.action-item {
    border-radius: 50%;
    position: relative;
    display: grid;
    align-items: center;
    transition: background-color .3s ease;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: fade-out($actions-color, 0.8);
    }
}