$actions-color: rgb(177, 179, 181);
$app-bg: #090e11;
$app-color: #d4d5d7;
$avatar-bg: rgb(19, 28, 33);
$black: #000000;
$border-stronger: rgba(241,241,242,0.11);
$border-gray: #595959;
$body-bg: rgb(30, 36, 41);
$clr-neon: hsl(317,100%, 54%);
$clr-bg: hsl(323, 21%, 16%);
$header-bg: rgb(42, 47, 50);
$header-gradient-left: rgb(230, 59, 46);
$header-gradient-right: rgb(232, 58, 125);
$white: #ffffff;
